<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload stylesheet" as="style" href="/css/style.css">
    <title><%= title %> Stripe Payment</title>
</head>
<body>
    <h1>Hello index page!</h1>

    <h2>E-Book is $25.00</h2>
</body>
</html>